<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Home</title>
</head>
<body>
    <div> Please log in to your account </div>
        <form action="/action_page.php">
            <label for="userID">ID:</label>
            <input type="text" id="userID" name="userID"><br><br>
            <label for="userPW">PW:</label>
            <input type="text" id="userPW" name="userPW"><br><br>
            <input type="submit" value="Log In">
        </form>
    
    <div> Sign in? </div>
        <a href="signin.html">
           <botton>Sign In</botton> 
        </a>

     <div> Test </div>
        <a href="test.html">
           <botton>Move to Test</botton> 
        </a>

    <script>
        alert("Welcome! Please report what you ate today.")
    </script>
</body>
</html>
